.container{
  background-color: grey;
  text-align: center;
  height:500px;
  width: 500px;
  font-size: 30px;
  margin: 10% auto;
  border-radius: 30px;
  padding: 70px 50px;
  font-weight: bold;
}

label{

}

.container .box{
  background-color: white;
  margin-bottom: 5%;
  padding: 10px 50px;
  border-radius: 10px;

}
#btn{
  height: 40px;
  font-size: 30px;
  background-color: green;
  margin-top: 10%;
  width: 200px;
  border-radius: 20px;
  transition: 2s;
}
#btn:hover{
  background-color: red;
  height: 50px;
  width: 250px;
}
